<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="study.liangyehong.android.intentdemo">

    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".One.CharacterCalculator"
            android:label="人品计算器" />
        <activity
            android:name=".One.ResultActiviyt"
            android:label="人品计算器" />
        <activity
            android:name=".Two.SendMess"
            android:label="短信模板发送器" />
        <activity android:name=".Three.ContactActivity"
            android:label="联系人"/>
        <activity android:name=".Three.SmsTemplate"
            android:label="短信模板"/>
        <activity android:name=".Three.SmsMain"
            android:label="短信发送器"></activity>
    </application>

</manifest>